{% extends "index.html" %}
{% block loginSignup %}
<div id="loginSignup-page">
	<div>
		<h1>Login</h1>
		<p>{{ login_error }}</p>
		<form action="/login" method="POST">
			<label>
				Username
				<input id="login-username" required type="text">
			</label>
			<br>
			<label>
				Password
				<input required id="login-password" type="password">
			</label>
			<br>
			<input type="submit">
		</form>
	</div>
	<div>
		<h1>SignUp</h1>
		<p>{{ signup_error }}</p>
		<form action="/signup" method="POST">
			<label>
				First Name
				<input required type="text" name="FirstName">
			</label>
			<br>
			<label>
				Last Name
				<input required type="text" name="LastName">
			</label>
			<br>
			<label>
				Email
				<input required type="email" name="email">
			</label>
			<br>
			<label>
				Username
				<input required type="text" name="username">
			</label>
			<br>
			<label>
				Password
				<input required type="password" name="password">
				<br>
			</label>
			<br>
			<input type="submit">
		</form>
	</div>
</div>
{% endblock %}