{% extends "index.html" %}
{% block playerDash %}

<div id="player-dashboard" ng-contoller="gameplayController">
	<h6>Player: {{gameplayController.user.username|angular}} Score: {{gameplayController.user.score|angular}} XP: {{gameplayController.user.xp|angular}}</h6>
	<canvas id="gameCanvas" width="800" height="450" style="border:1px solid #000000;"></canvas>
	<button ng-click="gameplayController.printData()">{{gameplayController.testing|angular}}</button>

	<!--
		app.js
		Contains all gameplay code. 
	-->
	<script
		type="text/javascript"
		src="{{url_for('static', filename='js/app.js')}}"></script>
</div>


{% endblock %}